.dialog_box_container {
  background-color: #717175;
  padding: 1rem;
  font-size: 1.1rem;
  color: white;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

button {
  margin-right: 10px;
  border: 1px solid grey;
  background-color: #81818d;
}
