<mat-toolbar color="primary">

  <mat-toolbar-row>

    <div class="container_header_logo">
      <span>Eco Smoke</span>
      <span class="material-symbols-outlined">vaping_rooms</span>
    </div>

    <span class="example-spacer"></span>
    <div class="header_buttons_container">
      <button class="header_button_base" routerLink="">Главная</button>
      <button class="header_button_products" routerLink="products">Товары</button>
      <button class="header_button_basket" routerLink="basket">Корзина</button>
    </div>
  </mat-toolbar-row>

</mat-toolbar>
