<mat-toolbar color="primary" class="footer">

  <mat-toolbar-row>
    <span> &copy; 2023 Anthony Default</span>
    <span class="example-spacer"></span>

    <div class="container_footer_social_media">
      <a href="https://vk.com/defau1tt" class="social_media_vk">VK</a>
      <a href="https://github.com/Defau1" class="social_media_github">GIT</a>
      <a href="https://t.me/Defau1ttt" class="social_media_telegram">TG</a>
      <a href="https://hh.ru/resume/01e00c37ff0bdf937a0039ed1f755176446450" class="social_media_head_hunter">HH</a>
    </div>

  </mat-toolbar-row>

</mat-toolbar>
